AIRFLOW_UID=50000
AIRFLOW_IMAGE=local-data-platform-airflow:3.3.0-dbt1.12
AIRFLOW_EXECUTOR=CeleryExecutor
AIRFLOW_FERNET_KEY=MDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDA=
AIRFLOW_API_SECRET_KEY=change-me-airflow-api-secret
AIRFLOW_API_AUTH_JWT_SECRET=change-me-airflow-jwt-secret
AIRFLOW_LOAD_EXAMPLES=false
AIRFLOW_DAGS_ARE_PAUSED_AT_CREATION=true
AIRFLOW_TIMEZONE=Asia/Ho_Chi_Minh
AIRFLOW_DAG_PROCESSOR_REFRESH_INTERVAL=30
AIRFLOW_CELERY_WORKER_CONCURRENCY=4
AIRFLOW_HOST_PORT=8080

AIRFLOW_POSTGRES_USER=airflow
AIRFLOW_POSTGRES_PASSWORD=change-me-airflow-db-password
AIRFLOW_POSTGRES_DB=airflow
AIRFLOW_POSTGRES_PORT=5432

ECOMMERCE_POSTGRES_HOST=localhost
ECOMMERCE_POSTGRES_HOST_PORT=5432
ECOMMERCE_POSTGRES_USER=dataeng
ECOMMERCE_POSTGRES_PASSWORD=change-me-ecommerce-db-password
ECOMMERCE_POSTGRES_DB=ecommerce
ECOMMERCE_POSTGRES_PORT=5432

REDIS_PORT=6379

DBT_TARGET=dev
DBT_DEV_SCHEMA=dbt_dev
DBT_CI_SCHEMA=dbt_ci
DBT_PROD_SCHEMA=analytics

MINIO_ROOT_USER=dataeng
MINIO_ROOT_PASSWORD=change-me-minio-password
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change-me-grafana-password
